@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Indie Flower', cursive;
	background: linear-gradient(royalblue, rgb(121, 250, 196));
	background-attachment: fixed;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.5em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

